﻿@using Supermodel.Extensions
@using TestWeb.ApiControllers
@using TestWeb.Areas.HelpPage.Controllers
@using TestWeb.Controllers
@{
    ViewBag.Title = "Index";
}

<p>
    @(Html.Supermodel().ActionLinkStrong<TBSDemoPersonController>("Demo Person TBS", x => x.List(null, null, null)))
    <br />
    @(Html.Supermodel().ActionLinkStrong<JQMDemoPersonController>("Demo Person JQM", x => x.List(null, null, null)))
</p>

<p>
    @(Html.Supermodel().ActionLinkStrong<TestPeopleController>("Generic Search People", x => x.Search(2, null)))
    <br/>
    @(Html.Supermodel().ActionLinkStrong<TestPeopleController>("Generic People", x => x.List(0, 2, null)))
    <br/>
    @(Html.Supermodel().ActionLinkStrong<TestGroupsController>("GenericGroups", x => x.List()))
</p>

<p>
    @(Html.Supermodel().ActionLinkStrong<MobileTestPeopleController>("Mobile Search People", x => x.Search(2, null)))
    <br/>
    @(Html.Supermodel().ActionLinkStrong<MobileTestPeopleController>("Mobile People", x => x.List(0, 2, null)));
    <br/>
    @(Html.Supermodel().ActionLinkStrong<MobileTestGroupsController>("Mobile Groups", x => x.List()))
</p>

<p>
    @(Html.Supermodel().ActionLinkStrong<TBSTestPeopleController>("TweeterBS Search People", x => x.Search(2, null)))
    <br/>
    @(Html.Supermodel().ActionLinkStrong<TBSTestPeopleController>("TweeterBS People", x => x.List(0, 2, null)));
    <br/>
    @(Html.Supermodel().ActionLinkStrong<TBSTestGroupsController>("TweeterBS Groups", x => x.List()))
</p>

<p>
    @(Html.Supermodel().ActionLinkStrong<HelpController>("Web Api Endpoints", x => x.Index()))
    <br/>
    Documentation on how to enable this is <a target="_blank" href="http://blogs.msdn.com/b/webdev/archive/2012/11/08/enabling-asp-net-web-api-help-pages-for-asp-net-web-forms-applications.aspx">here</a>.
</p>




