﻿em.sm-required {
    color: red;
    font-weight: bold; 
    padding-right: .25em;
}

.field-validation-error {
    color: red;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

.table {
    margin-top: 30px;
    margin-bottom: 0;
}

.displayOnly {
    padding-top: 5px;
}